CONTAINER_NAME_APP=household-hq
CONTAINER_NAME_DB=household-hq-db
CONTAINER_NAME_CACHE=household-hq-cache
# mailpit container is only used in local development, not in production
CONTAINER_NAME_MAILPIT=household-hq-mailpit

MYSQL_DATABASE=personal
MYSQL_USER=personal
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=very_secret

WWWUSER=1000
WWWGROUP=1000

APP_PORT=80
VITE_PORT=5173
FORWARD_DB_PORT=3306
FORWARD_REDIS_PORT=6379
FORWARD_MAILPIT_PORT=1025
FORWARD_MAILPIT_DASHBOARD_PORT=8025

SAIL_XDEBUG_MODE=off
SAIL_XDEBUG_CONFIG=client_host=host.docker.internal

MEILISEARCH_NO_ANALYTICS=false

PWD=

# Production Docker Image & Storage Configuration
APP_IMAGE=ghcr.io/cooolinho/household-hq:production
STORAGE_PATH=/var/lib/household-hq/storage
